$primary_yellow: #FFC200;
$secondary_yellow: #FFF7EB;
$primary_black: #17171A;
$secondary_back: #212121;
$primary_white: #ffffff;
$secondary_white: #F4F4F4;
$dark_green: #115B4E;
$black_text: #374151;
$primary_grey: #E0E0E0;
$secondary_grey: #F7F7F7;
$dark_grey: #C4C4C4;
$dark_grey_secondary: #A3A4AD;
$primary_red: #E25C5C;
$primary_orange: #FF9900;
$secondary_orange: #FEEEBA;
$dark_red: #5B2711;

$grey_2: #E3E3E3;
$grey_3: #C0C0C0;
$grey_4: #9697A0;
$grey_5: #DEDEDE;
$grey_6: #1D1D1D;
$grey_8: #F9F9F9;
$grey_9: #2C2D32;
$grey_10: #888888;
$grey_11: #8d8d8d;

$app_font: "Inter";
