@import '../../../../styles/variables.scss';

.password {
  padding: 0 40px;
  font-family: $app_font;

  &__title {
    color: $primary_black;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-bottom: 16px;
  }

  &__form {

    &__row {
      margin-top: 24px;
    }

    &__button {
      margin-top: 40px;
      width: 188px;
    }
  }
}