@import "../../styles/variables.scss";

.payment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: $app_font;
  color: $primary_black;
  padding-top: 48px;

  &__left {
    margin-right: 116px;
    // width: 443px;

  }

  &__right {
    width: 547px;
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 150%;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 150%;
  }

  &__price {
    max-width: 173px;
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &__value {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
    }

    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      margin-left: 12px;
    }
  }

  &__benefits {
    background-color: $grey_12;
    width: 340px;
    border-radius: 4px;
    padding: 24px;

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        margin-left: 30px;
        margin-bottom: 20px;

        b {
          font-weight: 700;
        }

        &::before {
          content: '';
          position: absolute;
          left: -30px;
          top: 2px;
          height: 20px;
          width: 20px;
          background-image: url('../../../public/checkmark_green.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__message {
    border-radius: 4px;
    padding: 32px 40px;
    border: 1px solid $grey_5;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}